/*safari issues fix*/
@media only screen and (max-width: 500px) {
 

}

/*end mobile spec styling*/

@media screen and (min-width:500px) and (max-width:1000px){
}


body {
    font-family: "Oxygen", "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif !important;
 
  }
 
  /* navbar customization */
  
  .navbar{
    z-index: 1;
    top: 0;
    width: 100vw;
    background-color: rgba(255,255,255, 0.95);
    height: 5em;
  
  }

  .rj-logo{
    font-weight: 570 !important;
    font-family: 'Oxygen';
    padding-left:10%;
    font-size: 2.6em;
    color: #FFD231;
  }
  
  .rj-logo:hover{
    text-decoration: none;
    font-size: 2.9em;
  }
  
  .nav-tab{
    font-size: 1.1em;
    color: #35353B;
    padding-bottom: .2em;
    padding-left: .2em;
    padding-right: .2em;
  }
  
  .nav-tab:hover{
    text-decoration: none;
    font-size: 1.3em;
  }
  
  .nav-tab-u{
    border-bottom: solid .3em #FFD231;
  }
  
  #mockup_main{
    vertical-align: bottom;
    max-width:50vw;
    margin-bottom:0;
    max-height: 75vh;
    
  }
  /* home page */
  .intro{
    padding-bottom:0;
    margin-left:3%;
    margin-right:3%;
    background:#98a9b3;
  }

  #home-left{
    padding-left: 5%;
    padding-top: 5%;
  }

  .name-title{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 3.5em;
    letter-spacing: 0.1em;
  }

  .hr-intro{
    border: 1px solid #FFD231;
  }

  .desc-intro{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 1.2em;
  }

  .icon-custom{
    font-weight: 400;
    color: white;
    margin-top:2%;
    margin-bottom: 5%;
    margin-right: 10%;
    font-size: 2em;
  }

/*project*/

.proj-title{
  margin-top: 25vh;
  text-align: center;
  font-weight:600;
  letter-spacing: 0.1em;
}

.card{
  border: none;
  margin: 3%;
  padding:0;
  overflow: hidden;
}

.img-proj{
  max-width: 100%;
  max-height: 100%;
}

.proj-hover{
  position: absolute;
  height: 0%;
  bottom:0;
  width: 100%;
  left:0;
  color: white;
  background: none;
  text-align: center;
  padding-top: 3%;
  font-size: 1.5em;
}

.card:hover > .proj-hover{
  height: 30%;
  color:white;
  background: rgba(48, 48, 48, 0.8);
}

.instr-p{
  text-align: center;
  letter-spacing: 0.1em;
}


/*resume*/
.resume-container{
  width: 100%;
  background:white;
  
}
.border-container{
  margin-left: 35%;
  width: 50%;
  padding-left: 1em;
  margin-bottom: 5%;
 
}


.border-container-last{
  height: 75vh;
  margin-left: 35%;
  width: 50%;
  padding-left: 1em;
 
}

.bd-overlay{
  margin-top: 5%;
  overflow-y: scroll;
  height: 70vh;

}

.yellow-opt{
  background-color: #FFD231 !important;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


.resume-title{
  font-size: 1.6em;
  font-weight: 600 !important;
  letter-spacing: 0.05em;
}

.resume-desc{
  border-top: solid #FFD231 6px;
  font-size: 1.2em;
  padding-top: 1em;
}


.options-resume{
  width:30%;
  padding-left: 5%;
  left: 5%;
  position: fixed;
}

.options-resume a{
  color: white !important;
}

.options-resume h1{
  font-size:1.3em;
  color: white;
  margin-right: 10%;
  padding:3%;
  
}

.opt-tab{
  background-color: rgb(151, 151, 151);
}

.opt-tab:hover{
  background-color: #FFD231;
  }

#hr-about{
 margin-right: 10%;
}

.blink{
  color: #8e9299;
}

/*proj-ind style*/

.proj-ind-title{
  text-align: center;
}

.proj-ind-container{
  margin: 3% 10% 5% 10%;
}

.img-proj-ind{
  width: 80%;
  max-height: 100%;
}

.text-proj-ind{
  font-size: 1.3em;
  margin-top: 5%;
}

.yellow-line{
  border: 3px solid #FFD231;
  margin-top: 10%;
  margin-bottom: 10%;
}

.img-right-ind{
  margin-left: 20%;
  right:0;
}

.second-row{
  margin-top: 3%;
}

.robo-desc{
  margin-top: 10%;
}


.blockchain-proj{
  background: #35353B;
  color: white;
  padding: 5%;
  height: 100%;
}